version: "3.9"
services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpass
    ports:
      - "27017:27017"
  api:
    build: .
    container_name: transporte-api
    depends_on:
      - mongo
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATA_MONGODB_URI: mongodb://root:rootpass@mongo:27017/transporte?authSource=admin
    ports:
      - "8080:8080"
